body {
    background-image: url("../imgs/space.jpg");
    background-size: cover;
}

#main {
    background: rgba(0, 0, 0, 40%);
    color: white;
    max-width: 75%;
    max-height: 100%;
    margin-bottom: 100px;
}

p, h3 {
    text-align: left;
}

.active a {
    color: seashell;
}

ul, ul a {
    list-style-type: none;
    font-family: fantasy;
    font-size: larger;
    color: #bbbbbb;
    text-align: left;
    padding: 0%;
}



ul a:hover {
    color: white;
    text-decoration: none
}

.navbar{
    text-align: left;
    /* background: gray; */
    padding: 0%;
    display: block;
    padding-top: 10%;
    background: rgba(0, 0, 0, 40%);
}

.content {
    text-align: center;
}